.about-us{
	padding-top: 78px;
	padding-left: 8.5vw;
	margin-bottom: 105px;
}

.about-us__title {
	margin-bottom: 22px;
	font-size: 48px;
	line-height: 60px;
	font-family: "DIN Pro";
	font-weight: 300;
}

.about-us__text {
	display: block;
	width: 80%;
	margin-bottom: 28px;
}