.footer {
	width: 100%;
	background-color: #161616;
	padding-top: 99px;
	padding-bottom: 120px;
}

.footer__title {
	margin-bottom: 80px;
	font-family: "DIN Pro";
	font-size: 40px;
	line-height: 52px;
	font-weight: normal;
	text-align: center;
	letter-spacing: -0.02em;
	color: #ffffff;
}